extends layout
block append auth
  #regbar
    #navthing
      .container
        #loginform
          h2 Login
        #registrform
          h2 Register
      .login
        .formholder
          .randompad
            form(action="/api/auth", method="post", enctype="multipart/form-data" id="login_form" )
              label(name='login_label') Login
              input(name="login" type='text')
              label(name='password_label') Password
              input(name="password" type='password')
              input#logButton(type='submit', value='Logon')
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
