doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        style
            include ./../public/stylesheets/style.css
        title  #{title}
    body
        block auth
        block content
        h1 #{info}
        
        script
            include ./../public/javascripts/index.js
