extends layout
block append content
  #regbar
    #navthing
      .footer_data
        .username
          h1(style={color :"white", margin : '10px'}) #{user.login}

        .logout(style={background :"", margin : '10px'})
          form(action="/users/logout", method="get")
              input(id='logout_button' type='submit', value='Logout')

  .container-fluid.main
    .row
      .col-md-2
          form(method='POST' action='/users' enctype="multipart/form-data")
              ul.list-group
                  if coins
                      each item in coins.slice(0,9)
                          li.list-group-item
                            button(style="width: 100%;").btn.btn-primary(type='submit' name=item.id ) #{item.id}
      .col-md-8
          .coin-descr__header
              img(src=coin.image.small)
              h1.coin-descr__header__name #{coin.name} rate for today
          table.table.table-bordered
              thead
                  tr
                    th(scope="col") 
                    th(scope="col") USD
                    th(scope="col") EUR
              tbody
                  tr
                    th(scope="row") Current price
                    td #{coin.market_data.current_price.usd}
                    td #{coin.market_data.current_price.eur}
                  tr
                    th(scope="row") Capitalization
                    td #{coin.market_data.market_cap.usd}
                    td #{coin.market_data.market_cap.eur}
                  tr
                    th(scope="row") Max price(24h)
                    td  #{coin.market_data.high_24h.usd}
                    td  #{coin.market_data.high_24h.eur}
                  tr
                    th(scope="row") Min price(24h)
                    td  #{coin.market_data.low_24h.usd}
                    td  #{coin.market_data.low_24h.eur}
                  if coin.market_data.price_change_percentage_24h > 0 
                          tr.change__pos
                            th(scope="row") Price change(24h)
                            td #{coin.market_data.price_change_24h_in_currency.usd}
                            td #{coin.market_data.price_change_24h_in_currency.eur}
                          tr.change__pos
                            th(scope="row") Price change(24h) %
                            td(colspan="2")  #{coin.market_data.price_change_percentage_24h} %
                  else
                      tr.change__neg
                        th(scope="row") Price change(24h)
                        td #{coin.market_data.price_change_24h_in_currency.usd}
                        td #{coin.market_data.price_change_24h_in_currency.eur}
                      tr.change__neg
                        th(scope="row") Price change(24h) %
                        td(colspan="2")  #{coin.market_data.price_change_percentage_24h} %
      .col-md-2
        form(method='POST' action='/users' enctype="multipart/form-data")
          ul.list-group
            if coins
              each item in coins.slice(9,18)
                li.list-group-item
                  button(style="width: 100%;").btn.btn-primary(type='submit' name=item.id ) #{item.id}


  
     
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")



