#footer {
    position: fixed; /* Фиксированное положение футера (подвала)*/
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #000; /* Цвет фона */
    color: #000; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    height: 5%;
   }

h1{
    color: aliceblue;
    size: 3px;
    margin: 0;
}