* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #7d7d7d;
}

.container{
  display : flex;
  justify-content: center;
  flex-direction: row;
}

#registrform{
  cursor: pointer;
}

#loginform{
  cursor: pointer;
}


#regbar {
  height: 67px;
  background: #17191a;
}

#navthing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 h2 {
  font-size: 20px;
  padding: 20px;
  color: #ecf0f1 ;
}



.login {
  position: relative;
  width: 350px;
  display: none;
  
}

.registr{
  position: relative;
  width: 350px;
  display: none;
}


.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="text"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

.logout{
  border-radius: 10px;
  cursor: pointer;
}

.btn.btn-primary {
  color: #fff;
  background-color: #1d2125;
  border-color: #1d2125;
}

.footer_data{
  display: flex;
  flex-direction : row;
  width: 100%;
}

.logout{
  position:absolute;
  top: 0px;
  right:0;
  left : 90%;
}

#logout_button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
  
